<% provide(:title, "Create new event") %>
<% provide(:url, events_path) %>
<% provide(:button_text, "Create event") %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Create a new event</h2>
		<%= render 'events/form' %>
	</div>
</div>